<?xml version="1.0"?>
<launch>
    <!-- <args for urdf/> -->
    <arg name="camera_model"          default="OAK-D"   /> <!-- 'zed' or 'zedm' -->
    <arg name="tf_prefix"             default="oak"         />
    <arg name="base_frame"            default="oak-d_frame" />
    <arg name="parent_frame"          default="oak-d-base-frame" />

    <arg name="cam_pos_x"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_y"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_pos_z"             default="0.0" /> <!-- Position respect to base frame (i.e. "base_link) -->
    <arg name="cam_roll"              default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_pitch"             default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->
    <arg name="cam_yaw"               default="0.0" /> <!-- Orientation respect to base frame (i.e. "base_link) -->

    <arg name="camera_param_uri"      default="package://depthai_examples/params/camera" />
    <arg name="sync_nn"               default="true"/>
    <arg name="subpixel"              default="true"/>
    <arg name="confidence"            default="200" /> 
    <arg name="LRchecktresh"          default="5"   /> 
    <arg name="monoResolution"        default="400p"/> <!-- '720p', '800p', 400p' for OAK-D & '480p' for OAK-D-Lite -->


    <node name="fake_target_pos_publisher"
          pkg="see-pick-mirobot"
          type="fake_publisher.py"
          output="screen"
          required="true">
    </node>
    <node name="depthai_static_publisher"
          pkg="see-pick-mirobot"
          type="tf2_depthai_mirobot_broadcaster.py"
          args="0.1 -0.1 0.2 0 0 0"
          output="screen"
          required="true">
    </node>
    <node name="target_pose_publisher" pkg="see-pick-mirobot" type="tf2_depthai_target_broadcaster.py" output="screen" required="true">
    </node>
    <node name="test_interface" pkg="see-pick-mirobot" type="moveit_group_python_mirobot.py" output="screen" required="true">
    </node>



<!--    <node name="mirobot_write_node" pkg="mirobot_urdf_2" type="mirobot_write_node" />-->
</launch>
